@font-face {
  font-family: canopee;
  src: url(./Fonts/616fd1dd00cf6c70f978fc69_Canopee.ttf);
}
@font-face {
  font-family: editorial;
  src: url(./Fonts/5f242a694256f02b944d5767_EditorialNew-Light.ttf);
}
@font-face {
  font-family: domain;
  src: url(./Fonts/5f242a69b1577e63266b4d72_DomaineDispCondMedium.ttf);
}
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#main {
  overflow-x: hidden;
  background-color: #222;
}
#page1 {
  /* height: 170vh; */
  height: 100%;
  width: 100vw;
  background-color: #c6beb5;
  position: relative;
  overflow: hidden;
}

#nav {
  height: 12vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: red; */
  padding: 0 2%;
  border-bottom: 0.2px solid #222;
}

#nav img {
  width: 45%;
  height: 20px;
}

#nav h5 {
  font-size: 15px;
  font-weight: 100;
}

#nav i {
  width: 4%;
}

.hot {
  /* background-color: red; */
  display: flex;
  height: 50%;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  /* overflow: hidden; */
  padding: 40px 60px;
}

.hot1 {
  width: 30%;
  height: 100%;
}
.hot2 {
  width: 35%;
  height: 100%;
  border-left: 2px solid #525050;
  border-right: 2px solid #525050;
  padding-right: 30px;
  padding-left: 30px;
  text-align: center;
}
.hot3 {
  width: 30%;
  height: 100%;
}

.img-div {
  height: 60%;
  width: 100%;
  overflow: hidden;
}

.img-div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all ease 0.4s;
}
.img-div:hover img {
  scale: 1.1;
}

.hot1 h4 {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: canopee;
}
.hot1 p {
  font-size: 17px;
  color: #4b4944;
  font-family: domain;
}

.hot1 h4 span {
  background-color: #b43b12;
  color: #c4bcb3;
  font-weight: 100;
  font-size: 18px;
  padding: 4px;
  border-radius: 5px;
  margin-left: 10px;
}

.hot3 h4 {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: canopee;
}

.hot3 h4 span {
  background-color: #b43b12;
  color: #c4bcb3;
  font-weight: 100;
  font-size: 18px;
  padding: 4px;
  border-radius: 5px;
  margin-left: 10px;
}
.hot3 p {
  font-size: 17px;
  color: #4b4944;
  font-family: domain;
}

.hot2 h2 {
  font-family: canopee;
  font-size: 75px;
  font-weight: 100;
}
.hot2 h3 {
  font-family: editorial;
  font-size: 36px;
  font-weight: 100;
  color: #1c1c19;
}
.hot2 p {
  font-size: 20px;
  margin-top: 10px;
  font-family: domain;
  color: #706c66;
}
.hot2 span {
  color: #1c1c19;
}

#miranda-container {
  padding: 3%;
  overflow: hidden;
  /* overflow-y: hidden; */
  width: 100%;
  margin-bottom: 5%;
  padding-top: 10%;
}

#page1 > #miranda {
  /* padding-bottom: 2%;

  margin-right: 2%; */
  /* display: flex;
  align-items: center; */
}

#miranda-container > span {
  font-size: 480px;
  font-weight: 100;
  color: #c4bcb2;
  font-family: canopee;
  letter-spacing: -30px;
  line-height: 180px;
  background-color: #1c1c1a;
  overflow: hidden;
  padding-left: 5%;
  padding-right: 5%;
  /* padding-top: 10%; */
}

#page2 {
  /* margin-top: 10%; */
  height: 100%;
  width: 100%;
  background-color: #c6beb5;
  display: flex;
  justify-content: space-between;
}
#page2 > #left {
  flex: 1 1 0%;

  padding-left: 2%;
  padding-right: 2%;
}
#page2 > #right {
  flex: 2 1 0%;

  border-left: 1px solid #6f6c66;
  padding-left: 2.5%;
}

#page2 > #left img {
  /* height: 80%; */
  width: 100%;
  object-fit: cover;
}
#page2 > #right img {
  /* height: 40%; */
  object-fit: cover;
  width: 95%;
}

#page2 #left h2 {
  color: #1c1c19;
  font-family: canopee;
  font-size: 100px;
  font-weight: 100;
  text-transform: uppercase;
}
#page2 #left h2 > p {
  color: #1b1b19;
  font-family: canopee;
  font-size: 180px;
  font-weight: 100;
  text-transform: uppercase;
  margin-top: -12%;
}
#page2 #left p {
  padding-top: 5%;
  color: #1c1c19;
  font-family: domain;
  font-size: 28px;
  font-weight: lighter;
}
#page2 #left p > span {
  background-color: #1c1c19;
  padding: 2%;
  font-size: 40px;
  font-weight: bold;
  color: #c8c0b6;
}

#page2 #right p {
  padding-top: 3%;
  font-family: canopee;
  font-size: 100px;
  font-weight: 100;
  line-height: 95px;
  color: #1c1b19;
}

#page3 {
  overflow: hidden;
  padding-top: 4%;
  height: 50vh;
  display: flex;
  background-color: #c6beb5;
}
#page3 h1 {
  font-size: 290px;
  background-color: #1b1b19;
  color: #c3bcb2;
  margin-left: 2%;
  margin-right: 2%;
  letter-spacing: -5px;
  padding-left: 2%;
  padding-right: 2%;
  height: 40vh;
  font-weight: 700;
  line-height: 310px;
  font-family: domain;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
#page3 img {
  width: 20%;
  height: 40vh;
  object-fit: cover;
  /* margin-top: -3%; */
}

/* page4 styling, grid system is :-moz-user-disabled */

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  grid-template-areas:
    "box1 box2 box3"
    "box4 box4 box3";
}

.box {
  box-sizing: border-box;
}

#box1 {
  grid-area: box1;
}

#box2 {
  grid-area: box2;
}

#box3 {
  grid-area: box3;
}

#box4 {
  grid-area: box4;
}

#box4 img {
  width: 96%;
  height: 100%;
  object-fit: cover;
  padding-top: 4%;
  padding-left: 4%;
}

#page4 {
  background-color: #c4bcb3;
  height: 100%;

  padding: 4% 2%;
}

#page4 .container #box1 {
  display: flex;
  flex-direction: column;
  gap: 5%;
  padding-left: 2%;
  padding-right: 2%;
}

#page4 .container #box2 {
  border-left: 2px solid #525050;

  padding-right: 30px;
  padding-left: 30px;
}

#page4 .container #box1 h2 {
  font-family: domain;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 100;
}
#page4 .container #box1 h3 {
  font-family: editorial;
  font-size: 37px;
  font-weight: 100;
  color: #1c1c1a;
}
#page4 .container #box1 p {
  font-size: 20px;
  margin-top: 10px;
  font-family: domain;
  color: #706c66;
}
#page4 .container #box1 span {
  color: #1c1c19;
}

#page4 .container #box2 h4 {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: canopee;
  text-align: left;
}
#page4 .container #box2 p {
  font-size: 17px;
  color: #4b4944;
  font-family: domain;
  text-align: left;
}

#page4 .container #box3 {
  display: flex;
  flex-direction: column;
  gap: 5%;
  border-left: 2px solid #525050;
  border-right: 2px solid #525050;
  padding-left: 4%;
  padding-right: 2%;
}

#page4 .container #box3 h2 {
  color: #1c1c19;
  font-family: canopee;
  font-size: 80px;
  font-weight: 100;
  text-transform: uppercase;
}
#page4 .container #box3 h2 > p {
  color: #1c1c19;
  font-family: canopee;
  font-size: 170px;
  font-weight: 100;
  text-transform: uppercase;
  margin-top: -7%;
}
#page4 .container #box3 > p {
  color: #4b4b43;
  font-family: domain;
  font-size: 32px;
  font-weight: 100;
}

#page4 .container #box3 > p#first::first-letter {
  font-size: 200%;
  background-color: #1c1c1a;
  margin: 0.1em;
  padding-left: 4%;
  padding-right: 4%;
  color: #c3bcb2;
  border-radius: 5px;
}
#page4 .container #box3 > div {
  margin-top: 10%;
  height: 200px;
  border: 1px solid #7c7671;
  border-radius: 50%;
  width: 100%;
  background-color: #cac1b7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  overflow: hidden;
}
#page4 .container #box3 > div > h1 {
  font-family: canopee;
  font-size: 57px;
  font-weight: 600;

  width: 100%;
  transition: all ease 0.6s;
  transform: translateX(55%);
}
#page4 .container #box3 > div:hover > h1 {
  transform: translateX(260%);
}

#page4 .container #box3 > div > img {
  height: 40px;
  transform: translateX(-220%);
  width: 100%;
  transition: all ease 0.6s;
}
#page4 .container #box3 > div:hover > img {
  transform: translateX(-55%);
}
#page5 {
  background-color: #c4bcb3;
  width: 100%;
  gap: 7%;
  color: #1b1b19;
  display: flex;
  padding-left: 2%;
  padding-right: 2%;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #4b4b43;
  border-bottom: 1px solid #4b4b43;
}
#page5 #page5-first {
  display: flex;
  align-items: center;
  justify-content: center;
}
#page5 #page5-first > div > h2 {
  font-family: domain;
  font-weight: 100;
  font-size: 25px;
}
#page5 #page5-first > div > h1 {
  font-family: canopee;
  font-weight: 100;
  font-size: 65px;
}
#page5 #page5-first > span {
  font-family: canopee;
  font-weight: 100;
  font-size: 150px;
  padding-left: 8%;
}

#page5 #page5-second {
  display: flex;
  align-items: center;
  justify-content: center;
}
#page5 #page5-second > div > h2 {
  font-family: domain;
  font-weight: 100;
  font-size: 25px;
}
#page5 #page5-second > div > h1 {
  font-family: canopee;
  font-weight: 100;
  font-size: 65px;
}
#page5 #page5-second > span {
  font-family: canopee;
  font-weight: 100;
  font-size: 150px;
  padding-left: 8%;
}

#page5 #page5-third {
  display: flex;
  align-items: center;
  justify-content: center;
}
#page5 #page5-third > div > h2 {
  font-family: domain;
  font-weight: 100;
  font-size: 25px;
}
#page5 #page5-third > div > h1 {
  font-family: canopee;
  font-weight: 100;
  font-size: 65px;
}
#page5 #page5-third > span {
  font-family: canopee;
  font-weight: 100;
  font-size: 150px;
  padding-left: 8%;
}

#page5 #page5-forth {
  display: flex;
  align-items: center;
  justify-content: center;
}
#page5 #page5-forth > div > h2 {
  font-family: domain;
  font-weight: 100;
  font-size: 25px;
}
#page5 #page5-forth > div > h1 {
  font-family: canopee;
  font-weight: 100;
  font-size: 65px;
}
#page5 #page5-forth > span {
  font-family: canopee;
  font-weight: 100;
  font-size: 150px;
  padding-left: 8%;
}

#page9 {
  padding-top: 1%;
  display: flex;
  background-color: #c4bcb3;
  height: fit-content;
  width: 100%;
  padding-left: 4%;
  padding-right: 4%;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 1%;
  border-top: 1px solid #4b4b43;
  border-bottom: 1px solid #4b4b43;
}

#page9::-webkit-scrollbar {
  display: none;
}

#page9 h1 {
  font-size: 80px;
  font-family: domain;
  font-weight: 100;
  display: inline-block;
  margin-right: 30px;
  animation-name: scroll;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  color: #1c1b19;
}
#page9 h1 > span {
  font-size: 90px;
  font-family: canopee;
  font-weight: 100;
  background-color: #1c1c19;
  color: #c3bcb2;
  padding: 0 12px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - 34px));
  }
}

#page9:hover h1 {
  animation-play-state: paused;
}

#page6 {
  background-color: #c6beb5;
  display: flex;
  flex-direction: column;
  padding: 5% 4%;
  color: #1c1c1a;
}
#page6 #page6-top {
  display: flex;
  gap: 4%;
}

#page6 #page6-left {
  flex: 1 1 0%;
  display: flex;
}
#page6 #page6-right {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  gap: 4%;
}
#page6 #page6-left-top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1%;
}
#page6 #page6-left-top h1 {
  font-family: canopee;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 31vw;
  line-height: 20vw;
  font-weight: 400;
}

#page6 #page6-left-top img {
  width: 28%;
}
#page6 #page6-left-bottom {
  font-family: canopee;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  margin-top: 2rem;
  margin-bottom: 0;
  font-size: 31vw;
  line-height: 20vw;
  font-weight: 400;
}

#page6 #page6-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid #222;
}

#page6 #page6-bottom {
  display: flex;
  gap: 4%;
  padding-top: 2%;
  justify-content: center;
  align-items: center;
}

#page6 #page6-bottom #left {
  flex: 1 1 0%;
}
#page6 #page6-bottom #right {
  flex: 1 1 0%;
}

#page6 #page6-bottom #left img {
  width: 100%;
  margin-top: 1%;
  border: 1px solid #222;
}

#page6 #page6-bottom #right h1 {
  font-family: canopee;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  margin-top: 2rem;
  margin-bottom: 0;
  font-size: 28vw;
  line-height: 20vw;
  font-weight: 400;
}

#page7 {
  background-color: #c6beb5;
  display: flex;
  padding: 0% 2%;
}

#page7 #left {
  flex: 2 1 0%;
}
#page7 #left h1 {
  font-family: canopee;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  font-size: 25vw;
  line-height: 20vw;
  font-weight: 400;
  background-color: #1c1c1a;
  color: #c8c0b6;
  padding: 2%;
}

#page7 #right {
  flex: 1 1 0%;
  padding: 0% 3%;
}
#page7 #right p {
  font-size: 30px;
  font-family: domain;
  font-weight: 100;
  color: #1c1c1a;
}
#page7 #right p > span {
  font-size: 90px;
  font-family: canopee;
  text-align: center;
  font-weight: 100;
}

#page10 {
  display: flex;
  justify-content: space-between;
  padding: 2%;
  background-color: #c6beb5;
}

#page10 #left {
  display: flex;
  height: 100%;
  align-items: center;
  gap: 3%;
}
#page10 #left img {
  width: 5%;
}
#page10 #right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  padding-right: 3%;
}
#page10 #right a {
  text-decoration: none;
  color: #1c1c19;
  font-family: domain;
  font-size: 18px;
  font-weight: 200;
}
#page10 #right > span {
  width: 14px;
  height: 4px;
  border: 50%;
  background-color: #1c1c19;
  color: #1c1c19;
  display: flex;
  justify-content: center;
  align-items: centers;
}
